<div class="row" >
  <div *ngFor="let p of products._embedded.products" class="col-md-4 mb-3" >
    <div class="card" >
      <div class="card-header">
        <div class="panel-title" > {{p.name}} </div>
      </div>
      <img class="card-image-top" src="http://localhost:8080/photoProduct/{{p.id}}" />
      <div class="card-body" >
        <h4 class="card-title">Prix : {{p.currentPrice |  number:'1.1-2'}} DNT</h4>
        <p class="card-text">{{p.description}}</p>
        <div *ngIf="p.selected" >Ce produit est selectionné</div>
        <a href="#" class="btn btn-primary">Voir les détails</a>
      </div>
    </div>
  </div>
</div>
